*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(gambar/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 5%;
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
.scrollTop{
    position: fixed;
    bottom: 800px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: #86929e url(gambar/up.png);
    border-radius: 50%;
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
.scrollTop.active{
    bottom: 40px;
    visibility: visible;
    opacity: 1;   
}
/*------------------------- layanan ------*/

.layanan{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
.layanan h1{
    font-size: 36px;
    font-weight: 600;
}
.layanan p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
/*---------- disabled link color purple ---------*/
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

.layanan-col{
    flex-basis: 31%;
    background: #e3caaf;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.layanan h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.layanan-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*--------------------------organisasi------*/


/*----------------------- halaman informasi------*/

.informasi{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.informasi-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.informasi p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.informasi-col img{
    width: 100%;
    border-radius: 10px;
}
.informasi-col p{
    padding: 0;
}
.informasi-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}

/*------------------halaman VISI MISI------*/

.visimisi{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.visimisi p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: justify;
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.visimisi-col{
    flex-basis: 31%;
    background: #e3caaf;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.visimisi h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.visimisi-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/*------------------- footer ------------------*/
.footer {
background-color: #485664;
width: 100%;
margin: auto;
text-align: left;
padding-top: 40px;
padding-bottom: 60px;
padding-left: 20px;
color: aliceblue;
}

.container {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: stretch;
}

.left-section {
flex: 1;
margin-right: 20px;
}
.left-section h5{
    line-height: 3;
}
.email-link {
  color: #adb5bd;
  transition: color 0.2s ease-in-out;
}

.email-link:hover {
  color: aliceblue;
}

.left-section h5::before {
  content: "\27e9\0020";
  display: inline-block;
  margin-right: 10px;
  color: aliceblue;
}


.map-box {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Set the height based on the aspect ratio (4:3) */
  margin-left: -10px; /* Move the map 20 pixels to the left */
}


.map-box iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.right-section {
flex: 1;
margin-left: 20px;
max-width: 400px;
}
.copyright {
    max-width: 100%;
    margin: 0 auto;
    background-color: #3a4753;
    padding-top: 10px;
    padding-bottom: 10px;
}
.copyright p{
    text-align: center;
    color: aliceblue;
}
.copyright h5{
    color: aliceblue;
    text-align: center;
    font-weight: lighter;
}
.social-media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media-icons a {
  margin: 0 10px;
}

.social-media-icons a:first-child {
  margin-left: 0;
}

.social-media-icons a:last-child {
  margin-right: 0;
}
.social-media-icons i {
  font-size: 30px; /* Ubah ukuran ikon menjadi 24 piksel */
}

/*----------------- halaman organisasi ----------------*/

.sub-header{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(gambar/subheader.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 50px;
}

/*------------------halaman aula nuku table aulanuku --------------*/
.tableaula{
    width: 100%;
    border-collapse: collapse;
}
.tableaula td,.tableaula th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}
.tableaula th{
    background-color: darkblue;
    color: #ffffff;
}
input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
 
input[type=submit]:hover {
  background-color: #777;
}

/*-------------- halaman aulanuku pesan box aulanuku----------*/
    
.pesan-box{
    width: 50%;
    margin: auto;
}
.pesan-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.pesan-box h3{
    text-align: left;
    padding-left: 65px;
}
.pesan-form input, .pesan-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}

/*------------table ruang rapat------------*/

.tablerapat{
    width: 100%;
    border-collapse: collapse;
}
.tablerapat td,.tablerapat th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}
.tablerapat th{
    background-color: darkblue;
    color: #ffffff;
}

/*-------------- halaman beritaterbaru -------------*/

.berita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.berita-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.berita-heading span{
    color: #f33c3c;
    text-align: center;
}
.berita-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.berita-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.berita-box{
    max-width: 30%;
    width: 400px;
    max-height: 30%;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.berita-image img{
    max-height: 150px;
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.berita-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.berita-text span{
    color: #f33c3c;
    font-size: 0.9rem
}
.berita-text .berita-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.berita-text .berita-title:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}
.berita-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.berita-text a{
    color: #0f0f0f;
}
.berita-text a:hover{
    color: #f33c3c;
    transition: all ease 0.3s;
}

/*------------ berita pagination pages--------*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  margin: 0 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
  position: relative;
}

.pagination a.active {
  background-color: #333;
  color: #fff;
}

.pagination a.active:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-bottom: 5px solid #333;
}

.pagination a:hover {
  background-color: #eee;
}

.pagination a:not(.active):hover:before {
  border-bottom-color: #eee;
  transition: border-bottom-color 0.2s ease-in-out;
}

.pagination .prev,
.pagination .next {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: #ccc;
  color: #333;
  border: none;
}

.pagination .prev:hover,
.pagination .next:hover {
  background-color: #eee;
  color: #333;
}

.my-settings {
        --cfg-pubkey: '14ba24e586cce16a9d19';
        /* all available settings https://uploadcare.github.io/blocks/solutions/file-uploader/#configuration */
}

/*---------- informasi page styled ------------*/
.image-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 -10px;
}

.image-with-text {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.image-with-text img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s ease;
}

.image-with-text:hover img {
  transform: scale(1.2);
  filter: blur(2px);
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transform: translateY(0%);
}

.text-overlay p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
/*-------------- halamanberita -------------*/
.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.bariskiri {
    flex: 1;
    max-width: 700px;
    margin: 50px;
}

.bariskiri h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.bariskiri h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: red;
}

.bariskiri img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

.bariskiri p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: justify;
}

.bariskiri p:last-child {
    margin-bottom: 0;
}

.bariskanan {
    height: 400px;
    flex: 1;
    max-width: 300px;
    margin: -300px 10px 10px 10px;
    overflow-y: scroll;
}

.bariskanan h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: red;
}

.bariskanan img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
    transform: scale(1);
}

.bariskanan .scroll-btn {
    position: sticky;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bariskanan .scroll-btn button {
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.bariskanan .scroll-btn button:hover {
    background-color: #f2f2f2;
}

.bariskanan .scroll-btn button:active {
    background-color: #e6e6e6;
}

/*----------- profile section --------*/
.profile-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: left;
}

.profile-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-label {
  font-weight: bold;
  width: 200px;
}

/*---------- foto dan video ----------*/
#albums {
  background-color: #f5f5f5;
  padding: 20px;
}

.album-slider {
  overflow-x: scroll;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.album {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  scroll-snap-align: start;
}

.album h3 {
  margin-bottom: 10px;
}
.album h5{
    font-weight: 500;
    color: brown;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.media-item {
  margin: 10px;
  flex-basis: calc(33.33% - 20px);
  text-align: center;
}

.media-item img {
  max-width: 100%;
  height: auto;
}

.media-item video {
  max-width: 100%;
  height: auto;
}
.prev-slide, .next-slide {
  background-color: #ddd;
  color: #333;
  border: none;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
}

.prev-slide:hover, .next-slide:hover {
  background-color: #bbb;
  color: #fff;
}

/*--------- profile pegawai --------*/

.profilepegawai {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1000px;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    width: 180px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.profile p {
    margin-top: 5px;
    font-size: 14px;
}

/*------ tombol profil pegawai ------*/
.hero-btn1{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: #f44336;
    position: relative;
    cursor: pointer;
}

/*------- kontak -------*/
.kontak {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 10px;
    height: 100%;
    margin: -20px 0;
    margin-bottom: 10vh;
    padding: 10px;
}

.hubkami {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 28px 28px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 700px;
    min-width: 370px;
}

.card-hubkami {
    display: flex;
}

.left {
    flex: 1;
    height: 580px;
    background-color: #485664;
}

.right {
    display: flex;
    flex: 1;
    height: 460px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex: 1;
    height: 800px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.left-hubkami {
    height: 60%;
    width: 80%;
    text-align: center;
    line-height: 22px
}

.left p {
    font-size: 0.9rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.right-hubkami {
    width: 70%;
    height: 80%;
    text-align: center;
}

input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid #00b4cf;
}

button {
    border-radius: 20px;
    border: 1px solid #485664;
    background-color: #485664;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

textarea {
    height: 90px;
}
img.logo{
    width: 400px;}
hr {
  border: none;
  border-top: 6px solid grey;
}

/* PENGADUAN */
form {
  max-width: 500px;
  margin: auto;
    margin-bottom: 5vh;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
}

h2 {
  text-align: center;
  margin-top: 0;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 11L16 21.5 26.5 11h-21z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

img.logobawah{
    width: 350px;
    }
#item-container {
  height: 200px;
  overflow-y: scroll;
}

/* for mobile */

@media(max-width: 700px){
    
.left {
        display: none;
    }
.lg-view {
        display: none;
    }
.sm-view {
        display: none;
    }


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
.header{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(gambar/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;}
.text-box h1{
font-size: 20px;}
.text-box p{
    font-size: 10px;
    }
.nav-links ul li{
        display: block;
    }
.nav-links{
        position: fixed;
        background: #bc544b;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
.nav-links ul{
        padding: 20px;}

img.logo{
    width: 300px;
}
img.logobawah{
    width: 300px;
    }
.row{
        flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    }
.map-box {
  position: relative;
  width: 100%;
  padding-top: 75%; /* Set the height based on the aspect ratio (4:3) */
  margin-left: -10px; /* Move the map 20 pixels to the left */
}
.map-box iframe {
position: relative;
top: -100px;
left: 0;
width: 100%;
height: 100%;
}
.hubkami {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 28px 28px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 600px;
    min-width: 370px;
}
.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 -10px;
}
    .berita-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    flex-wrap: wrap;
        padding-left: 70px;
}
.berita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}
.berita-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.berita-heading span{
    color: #f33c3c;
    text-align: center;
}
.berita-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.berita-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
.berita-box{
    max-width: 30%;
    width: 400px;
    max-height: 30%;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px;
}
.berita-image img{
    max-height: 150px;
    max-width: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
    .sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(gambar/subheader.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
    .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
}
@media(max-width: 480px){

.footer {
background-color: #485664;
width: 100%;
margin: auto;
text-align: left;
padding-top: 40px;
padding-left: 20px;
color: aliceblue;
}

.left {
        display: none;
    }
.lg-view {
        display: none;
    }
.sm-view {
        display: none;
    }
img.logobawah{
    width:300px;
    }
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}
.header{
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(gambar/header.jpg);
    background-position: center;
    background-size: cover;
    position: relative;}
.text-box h1{
font-size: 20px;}
.text-box p{
    font-size: 10px;
    }
.nav-links ul li{
        display: block;
    }
.nav-links{
        position: fixed;
        background: #bc544b;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
.nav-links ul{
        padding: 20px;}
img.logo{
    width: 250px;
}
.row{
        flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    }
.right-section {
flex: 1;
margin-left: 20px;
width: 100%;
}
.map-box {
    margin: 9vh;
  position: relative;
  max-width: 100%;
  padding-top: 15%; /* Set the height based on the aspect ratio (4:3) */
  margin-left: -13px; /* Move the map 20 pixels to the left */
}
.map-box iframe {
position: relative;
left: 0;
width: 100%;
height: 100%;
}
.hubkami {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 28px 28px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 600px;
    min-width: 370px;
}
.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 -10px;
}
.berita-container{
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0px 0px;
    flex-wrap: wrap;
        padding-left: 70px;
}
.berita-box{
    max-width: 100%;
    width: 80%;
    max-height: 20%;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 30px;
}
.berita-image img{
    max-height: 200px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.sub-header{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(gambar/subheader.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.hero-btn{
    display: none;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    font-size: 10px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
.copyright p{
    font-size: 13px
    }
.left-section h5{
    font-size: 10px;
    }
.layanan h1{
        font-size: 20px;
    }
.layanan p{
        font-size: 12px;
    }
.layanan h3{
        font-size: 12px
    }
.layanan-col{
    flex-basis: 31%;
    background: #e3caaf;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.layanan-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.organisasi h1{
        font-size: 20px;
    }
.organisasi p{
        font-size: 12px;
    }
.informasi h1{
        font-size: 20px;
    }
.informasi p{
        font-size: 12px;
    }
.image-with-text p{
        font-size: 16px;
    }
.tableaula td, .tableaula th {
    padding: 6px 8px;
    font-size: 12px;
  }
.daftar h3{text-align: center;}
.pesan-box {
    width: 90%;
    margin: 30px auto;
  
}
.profile-section {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
.profile-container {
    margin-top: 10px;
  }
.profile-picture {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
.profile-details {
    margin-top: 10px;
    text-align: center;
  }
.profile-row {
    flex-direction: column;
    margin-bottom: 5px;
  }
.profile-label {
    width: auto;
    margin-bottom: 5px;
  }
.profilepegawai {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    max-width: none;
  }
.profile {
    margin: 20px;
    width: calc(50% - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.profile img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
.profile h4 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .profile p {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
  }
.berita {
    padding: 10px;
 flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
    }
  .berita-box {
    width: 100%;
    max-height: none;
    margin: 20px -30px;
  }
  .berita-image img {
    max-height: none;
  }
  .berita-text {
    padding: 20px;
  }  
  .berita-text .berita-title {
    font-size: 1.3rem;
  } 
  .berita-text p {
    -webkit-line-clamp: 3;
  }
  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 10px 0px -30px;
    flex-direction: column;
  }
  .bariskiri {
    flex: 1;
    max-width: 400px;
    margin: 50px 10px 10px 50px; /* updated margin values */
  }
  .bariskiri h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .bariskiri h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: red;
  }
  .bariskiri img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .bariskiri p {
    font-size: 1rem;
    margin-bottom: 10px;
    text-align: justify;
  }
  .bariskiri p:last-child {
    margin-bottom: 0;
  }
  .bariskanan {
      max-height: 300px;
    flex: 1;
    max-width: 70%;
    margin: 20px -20px 20px 20px; /* updated margin values */
    overflow-y: scroll;
  }
  .bariskanan h3 {
    font-size: 24px;
    margin-bottom: 10px;
      text-align: center;
      color: red;
  }
  .bariskanan img {
    width: 100%;
    height: 200px;;
    object-fit: cover;
    margin-bottom: 10px;
    transform: scale(1);
  }
  .bariskanan .scroll-btn {
    position: sticky;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bariskanan .scroll-btn button {
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #fff;
    cursor: pointer;
  }
  .bariskanan .scroll-btn button:hover {
    background-color: #f2f2f2;
  }
  .bariskanan .scroll-btn button:active {
    background-color: #e6e6e6;
  }

/* FOTO DAN VIDEO */
#albums {
  background-color: #f5f5f5;
  padding: 20px;
}

.album-slider {
  overflow-y: scroll;
  white-space: unset;
  scroll-snap-type: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
}

.album {
  width: 100%;
  padding: 10px;
  scroll-snap-align: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.album h3 {
  margin-bottom: 10px;
}

.album h5 {
  font-weight: 500;
  color: brown;
}

.media-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
}

.media-item {
  margin: 10px;
  flex-basis: calc(50% - 20px);
  text-align: center;
}

.media-item img {
  max-width: 100%;
  height: auto;
}

.media-item video {
  max-width: 100%;
  height: auto;
}

.slider-nav {
  display: none;
}
.pesan-box h3{
    text-align: center;
    padding-left: 0;
}
    .scrollTop{
    position: fixed;
    bottom: 800px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #86929e url(gambar/up.png);
    border-radius: 50%;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 100000;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
}